@media screen and (min-width:768px) {
  .small-card__photo{
    display: flex;
    justify-content: center;
    align-items:center;
  }

  .small-card__photo > img {
    width: 130px;
    min-width: 130px;
    height: auto;
  }

  .small-card__title{
    display: flex;
    justify-content: center;
    align-items:center;
  }

}

@media screen and (min-width:1024px) {
  .small-card__photo > img {
    width: 160px;
    min-width: 160px;
  }

  .small-card__title > h1 {
    font-size: 20px;
  }
}

@media screen and (min-width:1440px) {
  .small-card__photo > img {
    width: 200px;
    min-width: 200px;
  }

  .small-card__title > h1 {
    font-size: 25px;
  }
}
