header{
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  height: 30x;
}

.container__articles{
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content:center;
}

.articles__main{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.articles__others{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
